{% extends "public/template/template.html" %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block title %} Home {% endblock %}


{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>List of countries</h1>
            <hr />
            <div align="center">
                <table>
                    <h1>
                        {% for table in tables %}
                        <h2>{{titles[loop.index]}}</h2>
                        {{table | safe}}
                        {% endfor %}
                    </h1>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}